<section>
    <h2>No...</h2>
    <p>
        A fully reactive DOM with no JS?
        <em>Get outta here!</em>
        That's impossible.
    </p>

    <p>
        Think again &mdash; <strong>you're looking right at it!</strong>
    </p>

    <p>
        That's right.  Everything you see here was built with data-wrapper.
        All HTML, no JS.  That's how we know it's good.
    </p>

    <ul hidden>
        <li>Stop wasting your time configuring npm to consume the latest microslop.</li>
        <li>Free yourself from dependency hell.</li>
        <li>Join me, and together we can rule the DOM</li>
    </ul>

    <p>
        See for yourself:
    </p>
</section>