<script type="module" data-module="@view/counter">
    export let count = 0;

    export function increment() {
        count += 1;
    }

    export function decrement() {
        count -= 1;
    }
</script>

<article class="counter" aria-label="Counter demo">
    <button @click="decrement">–</button>

    <output data-output="count" $text="count"></output>

    <button @click="increment">+</button>
</article>

<style>
    .counter {
        display: flex;
        gap: 1rem;
        align-items: baseline;

        button {
            grid-area: btn;
            display: inline-flex;
        }

        output {
            width: 2em;
            grid-area: out;
            display: inline;
            font-size: 1.25em;
            margin: 0;
            text-align: center;
        }
    }
</style>
